body {
    background-color: #FFF6E5;
    font-family: ubuntu;
    margin: 0;
}

h1 {
  color: #FF7F66;
  position: relative;
  right: -300px;
}

p {
  position: absolute;
  width:400px;
  height:80px;
  left: 700px;
  text-align: right;
  top: 300px;
  /*text-align: right;
  color: #3E454C;
  float: right;
  width:33%;*/
}

h4 {
  color: #2185C5;
}

input[type=text] {
  border: 1px dotted #EB7F00;
  font-family: open sans;
  margin: 4px;
  padding: 5px;
  border-radius: 7pt;
}

input[type=number] {
  border: 1px dotted #EB7F00;
  font-family: open sans;
  margin: 4px;
  padding: 5px;
  border-radius: 7pt;
}

table, td, th {
    background-color: white;
    opacity: 0.85;
    border: 1px groove #FF7F66;
    font-family: open sans;
    font-size: 12px;
    width: 100%;
    table-layout: fixed;
}

label {
  color: #7ECEFD;
}

button {
    font-family: ubuntu;
    cursor: pointer;
    border: #7ECEFD;
}

#footer {
  position: absolute;
  width:200px;
  height:80px;
  left: 700px;
  text-align: right;
  top: 600px;
}
